* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #520b0b;
	color: white;
	display: flex;
}

#main {
	height: 80%;
	width: 50%;
	background-color: #90df35;
	margin-inline: auto;
	margin-top: 5%;
	margin-bottom: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#time {
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
}

h2 {
	font-size: 5rem;
}

span {
	font-size: 10vw;
}
.time2 {
	margin: 1rem;
}
.counting {
	font-size: 8vw;
}

#buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.btns {
	margin: 0.3rem;
	font-size: 1rem;
	padding-block: 0.7rem;
	padding-inline: 3rem;
	border-radius: 25rem;
	background-color: rgb(247, 85, 112);
	color: white;
	font-weight: 600;
}

#laps {
	/* height: 80%; */
	overflow-y: scroll;
	width: 40%;
	background-color: #a5e060;
	margin-inline: auto;
	padding: 2rem;
	margin-top: 5%;
	margin-bottom: 2%;
	display: flex;
	flex-direction: column;
}

#laps h2 {
	margin-block: 2rem;
	margin-inline: auto;
}

ul {
	margin: 2rem;
	font-size: 2rem;
}

@media (max-width: 800px) {
	body {
		flex-direction: column;
		overflow-y: scroll;
	}

	#main {
		height: 80%;
		width: 90%;
	}
	h2 {
		font-size: 5rem;
	}

	.btns {
		margin: 0.3rem;
		font-size: 1rem;
	}
	#laps {
		height: 80%;
		overflow-y: scroll;
		width: 87%;
	}
	#laps h2 {
		margin-block: 0.3rem;
		font-size: 3rem;
	}
}
